body {
    background-color: #F1FAEE;
}

p {
    margin-bottom: 0;
}

.timeline {
    padding: 0;
    margin-top: 22px;
    list-style: none;
    margin-bottom: 50px;
    width: 100%;
}

.timeline>li:nth-child(even) {
    position: relative;
    margin-left: 50%;
    height: 240px;
}

.timeline>li:nth-child(odd) {
    position: relative;
    margin-right: 50%;
    height: 240px;
}

.timeline>li .timeline-panel {
    position: relative;
    width: 80%;
    margin: 0 12px;
    padding: 0 10px 10px 10px;
    text-align: right;
    background-color: #DFF2EA;
    border: 5px solid #E63946;
    border-radius: 10px;
    box-shadow: 0 0 0 5px #F1FAEE;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}


.timeline>li .timeline-panel:hover {
    visibility: visible;
    opacity: 1;
}


.timeline>li:nth-child(odd) .timeline-image {
    float: right;
}

.timeline>li:nth-child(odd) .timeline-panel {
    float: right;
}

.timeline>li:nth-child(even) .timeline-image {
    float: left;
}

.timeline>li:nth-child(even) .timeline-panel {
    float: left;
}

.timeline>li .timeline-image {
    z-index: 1;
    border: 7px solid #E63946;
    border-radius: 100%;
    background-color: #3b5998;
    box-shadow: 0 0 5px #E63946;
    width: 100px;
    height: 100px;
}

.timeline>li .timeline-image:hover {
    cursor: pointer;
}

.timeline-image:hover+.timeline-panel {
    visibility: visible;
    opacity: 1;
    transition: visibilty 0s, opacity 0.5s linear;
}

.timeline>li.timeline-inverted>.timeline-panel {
    text-align: left;
}


.timeline>li .triangle {
    position: absolute;
    top: 38px;
    left: 100%;
    border-left: 20px solid #E63946;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
}

.timeline>li .triangle-inverted {
    position: absolute;
    top: 38px;
    right: 100%;
    border-right: 20px solid #E63946;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
}

/*Style for even div.line*/
.timeline>li:nth-child(odd) .line {
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 100%;
    width: 4px;
    height: 240px;
    background-color: #E63946;
    transform: rotate(-22deg);
    box-shadow: 0 0 5px #E63946;
}

.timeline>li:nth-child(even) .line {
    position: absolute;
    top: 50px;
    bottom: 0;
    width: 4px;
    right: 100%;
    height: 240px;
    background-color: #E63946;
    transform: rotate(23deg);
    box-shadow: 0 0 5px #E63946;
}

.timeline>li .timeline-image {
    position: relative;

}

.timeline>li .timeline-image .num {
    color: white;
    position: absolute;
    top: 20px;
    left: 32px;
    font-size: 2rem;
}



.btn-primary {
    margin: 2% 2% 2% 0%;
}

.btn-default {
    margin: 2% 0% 2% 2%;
}

.badge {
    margin: 1%;
}

@media screen and (max-width: 1240px) {

    .timeline>li:nth-child(even),
    .timeline>li:nth-child(odd) {
        margin: 0;
        height: auto;
        display: flex;

    }

    .timeline>li:nth-child(odd) .timeline-image,
    .timeline>li:nth-child(odd) .timeline-panel,
    .timeline>li:nth-child(even) .timeline-image,
    .timeline>li:nth-child(even) .timeline-panel {
        float: none;
    }

    .timeline>li .timeline-image {
        margin-left: 3px;
        width: 32px;
        height: 32px;
        border: 2px solid #E63946;
    }

    .timeline>li .timeline-panel {
        height: auto;
        width: 100%;
        border: 4px solid #E63946;
        margin: 0 12px 2rem 12px;
        text-align: left;
        visibility: visible;
        opacity: 1;
    }

    .timeline>li:nth-child(odd) .line,
    .timeline>li:nth-child(even) .line {
        transform: rotate(0deg);
        top: 10px;
        height: 100%;
        left: auto;
        right: auto;
        margin-left: 14px;
    }

    .timeline>li .triangle {
        top: 0px;
        z-index: 1;
        left: auto;
        right: 100%;
        border-left: none;
        border-right: 15px solid #E63946;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
    }

    .timeline>li .triangle-inverted {
        top: 0px;
        z-index: 1;
        border-right: 15px solid #E63946;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
    }

    .timeline>li .timeline-image .num {
        top: 2px;
        left: 8px;
        font-size: 1rem;
    }
}